.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.col {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  display: flex;
  background: #ccc;
  border-radius: 50%;
  overflow: hidden;
}