.row {
  border-bottom: 1px solid #EDEFF5;
  position: relative;
}
.col {
  padding: 10px 25px;
}

.logo {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  display: flex;
  background: #C0C7D9;
  border-radius: 50%;
  overflow: hidden;
}

.button {
  background: none;
  border: none;
}