.table-wrapper {
  background: #ffffff;
  padding: 20px;
}

.table {
  background: #ffffff;
  border-collapse: collapse;
}

.table .header tr {
  background: #F9FAFC;
  height: 70px;
  border-bottom: 1px solid #EDEFF5;
}

.table .header th {
  margin: 0;
  border: 0;
  background: #F9FAFC;
  padding: 10px 20px;
}

.search {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #E2E4E7;
  font-size: 1.2em;
  padding: 10px 10px;
}

.add_button {
  background: #F9DE4B;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  border-radius: 10px;
  text-decoration: none;
  color: #17275A;
  font-weight: bold;
  font-size: 1em;
}

.footer {
  margin: 40px 0; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer div {
  position: relative;
}