.table-wrapper {
  background: #ffffff;
  padding: 20px;
}

.table {
  background: #ffffff;
  border-collapse: collapse;
}

.table .header tr {
  background: #F9FAFC;
  height: 70px;
  border-bottom: 1px solid #EDEFF5;
}

.table .header th {
  margin: 0;
  border: 0;
  background: #F9FAFC;
  padding: 10px 20px;
}

.search {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #E2E4E7;
  font-size: 1.2em;
  padding: 10px 10px;
}